!command/test-fixtures/**/*.tfstate
!command/test-fixtures/**/.terraform/
*.backup
*.bak
*.dll
*.exe
*.iml
*.iml
*.log
*.test
*~
.*.swp
./*.tfstate
.DS_Store
.envrc
.idea
.terraform/
.vagrant/
/pkg/
Gitlab-license.txt
bin/
example.tf
license/*
modules-dev/
terraform.tfplan
terraform.tfstate
website/.bundle
website/.vagrant
website/build
website/node_modules
website/vendor
/tmp
certs/gitlab-registry.crt
certs/gitlab-registry.key
