---
page_title: "GitLab Provider"
subcategory: ""
description: |-
  Terraform Provider for GitLab
---

Use the GitLab provider to interact with GitLab resources, like
users, groups, projects and more. You must configure the provider with
the proper credentials before you can use it.

Use the navigation to the left to read about the valid data sources and resources.

This provider requires at least [Terraform 0.12](https://www.terraform.io/downloads.html).

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
